<div class="panel panel-primary">
	<div class="panel-heading">
		Manage Users	
	</div>
	<div class="row panel-body">
			
		<div class="col-md-3">
			<div style="margin-left:45px;margin-top:5px">
				{{#link-to 'dashboard.manage-users.new-user' class="btn-info" tagName="button"}}
					{{fa-icon "fa-plus"}} Add User
				{{/link-to}}	
			</div>	
			{{!-- {{input value=filterText type='text' placeholder='filter'}}	
			{{#each filteredResults as |item|}}
			{{log item}}
		      <li>{{item.name}}</li>				
		    {{/each}} --}}
			<ul class="list-group" style="margin-top: 20px;">
				{{#each model as |list|}}
					{{#if list.id}}
						{{#link-to 'dashboard.manage-users.profile' list.id tagName="li" class="list-group-item"}}
							{{list.name}} 
							{{!-- <button class="pull-right" {{action "deleteUser" list.id}}>{{fa-icon "fa-remove"}}</button> --}}
						{{/link-to}}

					{{/if}}
				{{/each}}
			</ul>			
		</div>	
		<div class="col-md-9">			
			{{outlet}}
		</div>
	</div>
</div>
