<div class="col-md-12" style="margin-top:25px">
	<div class="col-md-4">
		{{usage-icons panel-user-stats=true titleOne="User" titleTwo="Statistics"  icon="fa-user" userStatsModal=true userStats=model.usage }}			
	</div>
	<div class="col-md-4">
		{{usage-icons panel-report-stats=true titleOne="Report" titleTwo="Statistics"  icon="fa-bar-chart" reportModal=true reports=model.reports}}			
	</div>
	<div class="col-md-4">
		{{usage-icons panel-accounts=true titleOne="Total" titleTwo="Account Access Granted" icon="fa-folder-open-o" linkInfo="12" linkAddress="admin-dashboard.user-mgt.permissions" }}			
	</div>
	<div class="col-md-4">
		{{usage-icons panel-user-created=true titleOne="User" titleTwo="Created" footerText="30th July 2012" icon="fa-user-plus"}}
	</div>
	<div class="col-md-4">
		{{usage-icons panel-last-login=true titleOne="Last" titleTwo="Login" footerText="21st June 2016" icon="fa-sign-in"}}		
	</div>
	<div class="col-md-4">
		{{usage-icons panel-assigned-group=true titleOne="Assigned" titleTwo="User Group" footerText="Admin" icon="fa-users"}}			
	</div>	
</div>
